# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\henri\IdeaProjects\td2-cpoa-histoire-dont-vous-etes-le-heros-hdvelh-jean-christophe-nguyen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
